.App {
  text-align: center;
  /* max-width: 1000px; */

}
form{
  overflow: visible;
}

h1 {
  text-align: center;
  font-family: 'Roboto';
  font-size: 40pt;
  font-weight: 900;
}

header img{
  max-width: 40px;
}
header {
  padding-top: 20px;
}

.current li{
  background-color: #ff5c5c;
  color: white;
  text-decoration: none;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.menu li {
  display: inline-block;
  float: none;
  color: rgb(230, 230, 230);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: 900;
  transition: ease-in-out, background-color .15s ease-in-out;
}

.menu li:active {
  background-color: #000;
  color: #ff5c5c;
  text-decoration: none;
}

.menu li:hover{
  background-color: #222222;
  color: white;
  text-decoration: none;
}

.current li:hover{
  background-color: #ff5c5c;
  color: white;
  text-decoration: none;
}

.field div {
  padding: 18px;
  overflow: visible;
}

div.show {
  overflow: visible;
}

.field label {
  width: 100px;
  display: inline-block;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .field label {
    text-align: center;
    display: block;
    margin: auto;
  }
  .field input {
    text-align: center;
  }
  .field div {
    padding-top:8px;
  }
  p {
    padding-left:8px;
    padding-right:8px;
  }
}

.field textarea {
  border-width: 0;
  vertical-align: top;
  background-color: rgb(250, 250, 250);
  height: 100px;
  width: 220px;
  padding: 6px;
  transition: ease-in-out, background-color .35s ease-in-out;
}

.field input:valid, .field textarea:valid {
  background-color: white;
}

.field input {
  width: 220px;
  padding: 6px;
  background-color: #fafafa;
  transition: ease-in-out, background-color .35s ease-in-out;
}

.field input:focus, .field textarea:focus{
  background-color: rgb(253, 253, 253);
}

.field button {
  background-color: #ff5c5c;
}

.field button:hover {
  background-color: #ff5c5c;
}

.field button:active {
  box-shadow: none;
}

.alert {
  max-width: 400px;
  margin:auto;
  margin-top: 20px;
  text-align: center;
}

.list div {
  display: inline-block;
  padding: 4px;
  /* padding-left: 20px;
  padding-right: 20px; */
}

div.list {
  margin: auto;
  width: 240px;
  font-size: 14px;
}

.list a {
  text-decoration: none;
  color: black;
}

.list a:visited {
  color: rgb(170, 170, 170);
}

.list a:hover {
  color: #ff5c5c
}

p.data {
  font-size: 0.675rem;
}

div.msg {
  background-color: #fafafa;
  width:304px;
  /* margin-right: 20px; */
  margin-top: 26px;
  padding: 18px;
  float: right;
}

div.empty-msg {
  background-color: #fff;
  width:304px;
  margin-top: 26px;
  padding: 18px;
  float: right;
}

div.msg-preview {
  float: left;
}

div.msg-time {
  float: right;
}

div.dashboard {
  max-width: 640px;
  margin:auto;
  /* height: 600px; */
}
div.recebidas {
  width: 280px;
  float: left;

}
.list a.selected:visited{
  color: #ff5c5c;
  font-weight: 500;
}

.recebidas div.list{
  display: inline-block;
  padding:6px;
  background-color: #fafafa;
}
@media only screen and (max-width: 620px){
  div.recebidas{
    float:none;
    margin:auto;
    height: 100%;
    margin-bottom: 60px;
  }
  div.msg {
    float:none;
    margin-top:40px;
    width:100%;
  }
  div.list {
    clear:both;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#footer {
  position: absolute;
  bottom: -20px;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: #fafafa;
  font-size: 12px;
  /* padding-top:14px; */
}
#footer a {
  text-decoration: none;
  color: #ff5c5c;
}
#footer p {
  margin-top:22px;
  margin-bottom:22px;
}
#root {
  min-height: 100vh; 
  overflow: visible;
  padding-bottom: 20px;
  display: block;
  position: relative;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ff5c5c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
